@model Data.Data.Magazyn.UzytkownikRola

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UzytkownikRola</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uzytkownik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uzytkownik.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rola.Nazwa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
