# Visual Studio
.vs/
*.user
*.suo

# Build outputs
bin/
obj/

# Visual Studio / VS Code
.vscode/
.idea/

# Rider / ReSharper
_ReSharper*/
*.DotSettings.user

# NuGet
packages/
*.nupkg
*.snupkg

# ASP.NET / publish
publish/
*.Publish.xml
*.pubxml
*.pubxml.user

# Logs / temp
*.tmp
*.temp
*.swp
*.bak
*.cache
*.pdb

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Secrets (jeśli używasz)
appsettings.Development.json
secrets.json