@model Data.Data.Magazyn.Produkt

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Produkt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProduktu" />
            <div class="form-group">
                <label asp-for="Kod" class="control-label"></label>
                <input asp-for="Kod" class="form-control" />
                <span asp-validation-for="Kod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwa" class="control-label"></label>
                <input asp-for="Nazwa" class="form-control" />
                <span asp-validation-for="Nazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdKategorii" class="control-label"></label>
                <select asp-for="IdKategorii" class="form-control" asp-items="ViewBag.IdKategorii"></select>
                <span asp-validation-for="IdKategorii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDomyslnejJednostki" class="control-label"></label>
                <input asp-for="IdDomyslnejJednostki" class="form-control" />
                <span asp-validation-for="IdDomyslnejJednostki" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StanMinimalny" class="control-label"></label>
                <input asp-for="StanMinimalny" class="form-control" />
                <span asp-validation-for="StanMinimalny" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PunktPonownegoZamowienia" class="control-label"></label>
                <input asp-for="PunktPonownegoZamowienia" class="form-control" />
                <span asp-validation-for="PunktPonownegoZamowienia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IloscPonownegoZamowienia" class="control-label"></label>
                <input asp-for="IloscPonownegoZamowienia" class="form-control" />
                <span asp-validation-for="IloscPonownegoZamowienia" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CzyAktywny" /> @Html.DisplayNameFor(model => model.CzyAktywny)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UtworzonoUtc" class="control-label"></label>
                <input asp-for="UtworzonoUtc" class="form-control" />
                <span asp-validation-for="UtworzonoUtc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
