@model Data.Data.CMS.Strona
@{
    ViewData["Title"] = Model.TytulLinku;
}

<div class="container align-content-center">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">@Model.Nazwa</h1>
            <p class="lead">@Model.Tresc</p>
        </div>
    </div>
</div>
