@{
    ViewData["Title"] = "Opis firmy";
}

<div class="container align-content-center">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">Welcome to Opis Firmy!</h1>
            <p class="lead">This</p>
        </div>
    </div>
</div>
