@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container align-content-center">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">Welcome to PrivacyView!</h1>
            <p class="lead">This</p>
        </div>
    </div>
</div>
